@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');


:root {
    --primary-color: #FB5B21;
    --hover-primary-color: #f5784b;
    --page-color: #222429;
    --white-color: #fff;
    --light-blue: #B6DBF6;
	--grey: #f2f2f2;


    --transition-2: 0.2s;
    --transition-3: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* intro */
.intro {
    background: var(--page-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.slider {
    background: var(--hover-primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 30;
}

.intro-text {
    color: rgb(233, 233, 233);
}

.hide {
    background: var(--page-color);
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
    font-family: 'Heebo', sans-serif;
    font-size: 5rem;
}


nav {
    height: 12vh;
    padding: 0 100px;
    background-color: var(--page-color);
    border: none;
    z-index: 10;
}


nav #logo {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 55px;
    color: var(--primary-color);
}

nav .nav-links {
    width: 40%;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-links li a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 19px;
    text-transform: uppercase;
    display: inline-block;
    transition: all var(--transition-2) ease;
}

nav .nav-links li a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

nav .join {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    font-size: 20px;
    transition: all 0.5s ease;
}

nav .join:hover {
    color: var(--page-color);
    background-color: var(--hover-primary-color);
}

nav .bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .bars div {
    width: 26px;
    height: 3px;
    background: var(--white-color);
    margin: 2px;
    border-radius: 2px;
    transition: all var(--transition-2) linear;
}

nav .bars.bars-active div:nth-child(2) {
    transform: translateX(-20px);
    opacity: 0;
}

nav .bars.bars-active div:nth-child(1) {
    transform: translate(-5px, 7px) rotate(-45deg);
}

nav .bars.bars-active div:nth-child(3) {
    transform: translate(-5px, -7px) rotate(45deg);
}
nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--primary-color);
    transition: all var(--transition-3) ease;
}
.hero-slider.home-sticky {
    margin-top: 10vh;
    transition: all var(--transition-3) ease;
}

/* slider */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(34, 36, 41, 0.9), rgba(251, 91, 33, 0.2));
}

.hero-slider {
    width: 100%;
    height: 88vh;
    overflow: hidden;
}

.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    padding: 0 250px;
}

.hero-slider .carousel-cell .inner .subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.hero-slider .carousel-cell .inner .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
}

.hero-slider .carousel-cell .inner .btn:hover {
    background: #fff;
    color: #000;
}

.hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
    background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
    fill: white;
}

.hero-slider .flickity-page-dots {
    bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0px solid white;
    border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
    background: #f00;
    border: 0 solid #f00;
}


/* about */
section.about-section {
    padding: 0 100px;
}

section.about-section .title {
    color: var(--primary-color);
    font-weight: 700;
}

section.about-section .nav-link {
    color: var(--primary-color);
}

section.about-section .nav-link.active {
    background-color: var(--primary-color);
}

/* hours */
section.hours-section {
    padding: 0 100px;
}

section.hours-section h5 {
    color: var(--primary-color);
}

section.hours-section h6 {
    font-weight: 700;
}

section.hours-section .tab-class .nav .nav-item .nav-link {
    color: var(--white-color);
    font-size: 18px;
    letter-spacing: 3px;
}

section.hours-section .tab-class .nav .nav-item .nav-link.active {
    background-color: var(--primary-color);
}

section.hours-section .tab-class .tab-content {
    letter-spacing: 3px;
}


/* info section */
section.info {
    padding: 0 100px;
}
section.info h5 {
    color: var(--primary-color);
}
section.info .info-content .info-inner h6{
    display: inline;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 5px;
    color: var(--primary-color);
    font-size: 18px;
}
section.info .info-content .info-inner span {
    color: #575759;
    font-size: 18px;
}

/* footer */
footer .footer-bar {
    background-color: var(--primary-color);
    z-index: 1;
}

footer .footer-bar h2 {
    font-weight: 700;
}
footer .footer-bar h6 {
    font-weight: 600;
}
footer .footer-bar h4,
footer .footer-bar h6,
footer .footer-bar p {
    font-size: 20px;
    letter-spacing: 1px;
}
footer i {
    color: var(--primary-color);
}

footer h4 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}

footer .footer-links a {
    color: rgb(197, 193, 193);
    letter-spacing: 1px;
    transition: all var(--transition-2) ease;
}

footer .footer-links a:hover {
    padding-left: 10px;
}

footer .social-media a {
    background-color: var(--primary-color);
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

footer .social-media a i {
    color: var(--white-color);
}

footer .social-media a:hover {
    background-color: var(--primary-color);
}

footer .social-media a:hover i {
    color: var(--page-color);
}
footer .input-group button {
    background-color: var(--page-color);
    color: var(--white-color);
}
footer .input-group button:hover {
    background-color: var(--page-color);
    color: var(--primary-color);
}
@media only screen and (max-width: 1028px) {
    section.info,
    section.about-section,
    section.hours-section,
    nav {
        padding: 0 50px;
    }

    nav .nav-links {
        width: 50%;
    }

    .hero-slider .carousel-cell .inner .subtitle {
        font-size: 1.5rem;
    }

    .hero-slider .carousel-cell .inner .title {
        font-size: 2rem;
    }

    .hide span {
        font-size: 3rem;
    }
}




@media only screen and (max-width: 768px) {
    nav #logo {
        font-size: 35px;
    }
    section.info,
    section.about-section,
    section.hours-section,
    nav {
        padding: 0 20px;
    }

    nav .nav-links {
        position: absolute;
        top: 12vh;
        right: 0;
        background-color: var(--page-color);
        width: 0%;
        height: 88vh;
        padding: 20px 50px;
        transition: all var(--transition-3) cubic-bezier(0.455, 0.03, 0.515, 0.955);
        opacity: 0;
        text-align: center;
        z-index: 1;
    }
    nav.sticky .nav-links {
        top: 10vh;
        height: 90vh;
    }
    nav .nav-links li {
        padding: 35px 0;
        display: none;
    }

    nav .nav-links.slide {
        width: 100%;
        opacity: 1;
    }

    nav .nav-links.slide li {
        display: block;
    }

    .hero-slider .carousel-cell .inner {
        padding: 100px;
    }
}

@media only screen and (max-width: 556px) {
    .hero-slider .carousel-cell .inner {
        padding: 80px;
    }

    .hero-slider .carousel-cell .inner .subtitle {
        font-size: 0.8rem;
    }

    .hero-slider .carousel-cell .inner .title {
        font-size: 1rem;
    }

    .hero-slider .flickity-prev-next-button {
        width: 40px;
        height: 40px;
    }

    .hero-slider .carousel-cell .inner .btn {
        font-size: 0.6rem;
    }

    .hide span {
        font-size: 1.5rem;
    }
}

.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.form-btn button {
	display: block;
	width: 49%;
    height: 8vh;
	border-radius: 15px;
	color: var(--white-color);
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}

.form-btn .select-image {
    background-color: var(--primary-color);
}
.form-btn .check-image {
    background-color: #39BD4B;
    font-size: 30px;
}
.form-btn .select-image:hover {
	background: var(--hover-primary-color);
}
.form-btn .check-image:hover {
	background: #59cf69;
}